<strong>Olá, {{ organizer }}</strong>
<br>
<br>
<p>O usuário {{subscriberName}} marcou presença em um Meetup seu!</p>
<br>
<p>Título do Meetup: <strong>{{meetupTitle}}</strong></p>
<p>Descrição do Meetup: <i>{{meetupDescription}}</i></p>
<p>Data: <strong>{{meetupDate}}</strong></p>
<p>Local: <strong>{{meetupLocation}}</strong></p>
<br>
<p>Dados do usuário:</p>
<p>Nome: {{subscriberName}}</p>
<p>Email: {{subscriberEmail}}</p>
